* {
  box-sizing: border-box;

  margin: 0;

  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background: #fffaf7;

  color: #222;

  -webkit-font-smoothing: antialiased;
}

button,
a {
  font-family: inherit;
}

button {
  outline: none;
}

::selection {
  background: #ff704f;

  color: white;
}